.searchbar_wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    padding: 0 var(--spacing4);
}
.search_input {
    background-color: var(--input-bg);
    padding: var(--spacing3) var(--spacing5);
    border-radius: var(--border-r2);
    border: .8px solid var(--input-border);
    font-size: var(--fs-base);
}
.search_input:focus {
    border-color: var(--input-border-focused);
    outline: none;
}