.searchbar_wrapper {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
    border-radius: var(--border-r5);
    border: .8px solid var(--input-border);
    background-color: var(--input-bg);
    padding: var(--spacing1) var(--spacing2);
}
.search_input {
    background-color: transparent;
    padding: var(--spacing2) var(--spacing3);
    border: transparent;
    font-size: var(--fs-base);
}
.search_input:focus {
    border-color: var(--input-border-focused);
    outline: none;
}
.input-bar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 2.25rem;;
    width: 2.25rem;
    background-color: rgb(121, 0, 196);
    border: transparent;
    cursor: pointer;
}
.input_btn {
    color: white;
    transform: scale(0.9);
}