@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/Axiforma/Axiforma-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/Axiforma/Axiforma-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/Axiforma/Axiforma-Thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Axiforma';
  src: url('./assets/fonts/Axiforma/Axiforma-Thin-Italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --axiforma: 'Axiforma', sans-serif;

  /* spacing */
  --spacing1: .25rem;
  --spacing2: .50rem;
  --spacing3: .75rem;
  --spacing4: 1rem;
  --spacing5: 1.25rem;

  /* border radius */
  --border-r1: .5rem;
  --border-r2: .75rem;
  --border-r3: 1rem;
  --border-r4: 1.25rem;
  --border-r5: 2rem;

  /* font sizes */
  --fs-base: 0.875rem;
  --fs-small: 0.8125rem;

  /* Component colors */
  /* INPUT BAR: */
  --input-border: #313131;
  --input-border-focused: #393939;
  --input-bg: #141414;
  
  /* hover */
  --hover: #1d1d1d;

  font: 17px/100% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #070707;
    --border: #232323;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

